html, body{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}header{
  background: transparent;
  color:#fff;
  width: 100%;
  position: absolute !important;
  padding: 8px 100px !important;
}#splash{
  height: 600px;
  background-image: url("../img/splash4.jpg");
  background-size: cover;
  background-position-x: left;
  background-position-y: 20%;
}header h1{
  text-shadow: 1px 1px 1px #000;
}.wrapper form{
  margin: 0 auto;
  max-width: 400px;
}.top-logo{
  height: 90px;
  width: auto;
  filter: brightness(100);
}.other-logo{
  height: 60px;
  width: auto;
  filter: brightness(100);
}.bottom-logo{
  height: 90px;
  width: auto;
  filter: brightness(0);
}header ul{
  border-radius: .25rem;
}.headline{
  color:#fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  padding-top:525px;
}.wrapper{
  padding: 45px 100px;
  text-align: center;
}p{
  font-size: 1.4em;
}.wrapper p{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}.spacer{
  padding: 15px 0px;
}.blocks{
  width:33.3333333333334%;
  height:33.3333333333334%;
}.links{
  width:100%;
  padding:30px 0px;
}.flexer{
  display: flex;
  text-align: center;
  background-color: #343a40;
}.links h1{
  margin:0px;
  color:#fff;
}.disclaimer{
  border: 1px solid #000;
  padding: 5px;
  margin: 0 auto;
  max-width: 200px !important;
  font-size: .7em;
}.connections{
  background-color: rgb(54, 54, 54);
  padding-top: 16px;
  color: #fff;
}i{
  font-size: 1.1em;
}footer p{
  font-size: 1em;
}.form-wrapper{
  padding: 0px 45px;
  text-align: center;
  margin: 0 auto;
  max-width: 1100px;
}.connect{
  font-size: 1.2em;
  text-align: left;
}.mobile-bar{
  position: absolute;
  width: 100%;
  display: none;
}.mobile-bar nav{
  background-color: transparent !important;
}#lang-sel{
  margin-left: 0px !important;
  margin-right: 16px;
}#donate{
  /*margin-left: auto !important;*/
  padding: .35rem 1.65rem;
  font-size: 1rem;
  transform: scale(1.2);
}#join{
  margin-left: 2rem !important;
  padding: .35rem 1.65rem;
  font-size: 1rem;
  transform: scale(1.2);
}.flexer a{
  width:25%;
  transition: ease-in .2s;
}.flexer a:hover{
  text-decoration: none !important;
  opacity: 0.9;
}a i{
  transition: ease-in .2s;
}a i:hover{
  opacity: 0.8;
}.helen{
  width: 215px;
  float: left;
  margin-right: 20px;
  margin-top: 0.5em;
}.less-padding{
  padding:0px 8px !important;
}.btn-hln{
  width: 100%;
}.nav-btn-wrapper{
  margin-left: auto;
}

@media only screen and (max-width: 1199px){
  .connect{
    padding-top: 0px;
    text-align: center;
  }.social{
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 950px){
  .headline{
    font-size: 2em;
  }#splash{
    background-position-y: center;
  }
}

@media only screen and (max-width: 830px){
  #donate{
    transform: scale(0.8);
  }#join{
    transform: scale(0.8);
    margin-left: -1rem !important;
  }
}

@media only screen and (max-width: 768px){
  .wrapper{
    padding:45px;
  }.links h1{
    font-size: 1em;
  }.headline{
    font-size: 1.5em;
  }.mobile-bar{
    display: block;
  }header{
    display:none !important;
  }
}

@media only screen and (max-width: 575px){
  .photos{
    display: block;
  }.blocks{
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 455px){
  .helen{
    width: 100%;
  }
}